# `pandas` part 1

This week we learn about the following five areas of pandas:

- Data I/O
- Understanding the `DataFrame` and `Series`
- Indexing and Filtering
- Renaming 
and Replacing
- First look at the data
- Summary functions

## Importing Libraries

In python, we use the `import` statement to "load" code from other libraries. This is similar to the `library()` function in `R`.

Note we can also use `import` _library name_ `as` _abbreviation_ to rename the imported library. Although it makes for less typing, I recommend sticking to widely accepted abbreviations.

In [1]:
import pandas as pd

pd.__version__ # you can check the version of any library with this command
               # if you get anything older than 0.25.0, try updating pandas with: conda update pandas

'0.25.3'

# `DataFrame` and `Series`

## `pd.Series`

The pandas `Series` is a one-dimensional ordered and labelled data container.

To pull up the associated documentation on a class, method or module, use the `?` magic.

In [2]:
pd.Series?

We can create a series by calling the `pd.Series()` function on a one-dimensional array.

In [3]:
ser = pd.Series([1, 4, 7, -1, 12])
ser

0     1
1     4
2     7
3    -1
4    12
dtype: int64

Note that the default behaviour is to use an integer index ranging from 0 to the length of the input minus 1.

We can override this behaviour by passing an equal length array as an index:

In [4]:
ser = pd.Series([1, 4, 7, -1, 12], index = ['a', 'b', 'd', 'z', 'dinosaur'])
ser

a            1
b            4
d            7
z           -1
dinosaur    12
dtype: int64

## `pd.DataFrame`

The `pandas.DataFrame` is a two-dimensional tabular data container. You can think of each column of the dataframe as being a series.

In [ ]:
pd.DataFrame?

Dataframes can be constructed in a multitude of ways. I prefer using a combination of dicts and lists.

In [6]:
# Create the data as a dict of lists:
my_data = {
    'col1': [1, 4, 7, 10],
    'col2': [1/1, 1/4, 1/7, 1/10],
    'col3': ['tea', 'coffee', 'toffee', 'key']
}

In [7]:
# Optional: Create the column list if necessary (dict keys are unordered!)
my_columns = ['col1', 'col2', 'col3']

# Index is also optional
my_index = ['a', 'b', 'c', 'pterodactyl']

In [8]:
df = pd.DataFrame(data=my_data, columns=my_columns, index=my_index)
df

             col1      col2    col3
a               1  1.000000     tea
b               4  0.250000  coffee
c               7  0.142857  toffee
pterodactyl    10  0.100000     key

In [9]:
# We can also do this without the intermediary steps
df = pd.DataFrame(
    data = {
        'col1': [1, 4, 7, 10],
        'col2': [1/1, 1/4, 1/7, 1/10],
        'col3': ['tea', 'coffee', 'toffee', 'key']
    },
    columns = ['col1', 'col2', 'col3'],
    index = ['a', 'b', 'c', 'pterodactyl']
)
df

             col1      col2    col3
a               1  1.000000     tea
b               4  0.250000  coffee
c               7  0.142857  toffee
pterodactyl    10  0.100000     key

# Reading in Data

For this lecture we use the BES data. The data can be downloaded from: https://muhark.github.io/dpir-intro-python/Week2/data/data_week2.zip

The original file was in `dta` format, but I've saved it in a number of formats.
Here are the file names with their associated sizes in kilobytes.

```
756K    bes_data_subset_week2.csv
348K    bes_data_subset_week2.feather
1.3M    bes_data_subset_week2.json
```

Let's just use the `feather` format for now, as this is the easiest to work with.

In [12]:
bes_df = pd.read_feather("data/bes_data_subset_week2.feather")

We can view the first/last 30 rows (and 20 columns) by just writing the name of the dataframe.

In [13]:
bes_df

,finalserialno,region,Constit_Code,Constit_Name,Interview_Date,total_num_dwel,total_num_hous,num_elig_people,turnoutValidationReg,Age,...,k08,y01,y03,y06,y07,y08,y09,y11,y17,y18
0,10115,East Midlands,Ashfield,E14000535,06/09/2017,1,1,2,Voted,21.0,...,No,"GBP 5,200 - GBP 10,399",Own home on mortgage,No religion,NaN,No,Female,English/Welsh/Scottish/Northern Irish/British,Working full time - employee (30+ hours),NaN
1,10119,East Midlands,Ashfield,E14000535,06/09/2017,1,1,1,Voted,53.0,...,No,"GBP 2,600 - GBP 5,199",Rented from local authority,Islam/Muslim,Never or practically never,No,Male,Indian,Looking after the family or home,Yes
2,10125,East Midlands,Ashfield,E14000535,06/09/2017,1,1,1,NaN,56.0,...,No,"GBP 5,200 - GBP 10,399",Own home outright,No religion,NaN,No,Male,English/Welsh/Scottish/Northern Irish/British,Working full time - self-employed (30+ hours),NaN
3,10215,East Midlands,Ashfield,E14000535,24/08/2017,1,1,2,Voted,65.0,...,No,"GBP 36,400 - GBP 39,999",Own home outright,Christian - no denomination,Never or practically never,No,Female,English/Welsh/Scottish/Northern Irish/British,Retired from paid work,Yes
4,10216,East Midlands,Ashfield,E14000535,24/08/2017,1,1,2,Voted,68.0,...,Yes,"GBP 40,000 - GBP 44,999",Own home outright,Christian - no denomination,Never or practically never,No,Female,English/Welsh/Scottish/Northern Irish/British,Retired from paid work,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2189,69923,Yorkshire & Humber,York Outer,E14001062,20/09/2017,1,1,2,NaN,59.0,...,No,"GBP 60,000 - GBP 74,999",Own home outright,No religion,NaN,No,Female,English/Welsh/Scottish/Northern Irish/British,Retired from paid work,Yes
2190,69925,Yorkshire & Humber,York Outer,E14001062,31/07/2017,1,1,1,NaN,46.0,...,Yes,"GBP 75,000 - GBP 99,999",Own home outright,No religion,NaN,No,Female,English/Welsh/Scottish/Northern Irish/British,Looking after the family or home,Yes
2191,70016,Yorkshire & Humber,York Outer,E14001062,19/09/2017,1,1,1,Voted,50.0,...,Yes,"GBP 5,200 - GBP 10,399",It belongs to a Housing Association,No religion,NaN,No,Female,English/Welsh/Scottish/Northern Irish/British,Working part time - employee (8-29 hours),NaN
2192,70022,Yorkshire & Humber,York Outer,E14001062,02/08/2017,1,1,1,NaN,82.0,...,Yes,"GBP 15,600 - GBP 20,799",Own home outright,No religion,NaN,No,Female,English/Welsh/Scottish/Northern Irish/British,Retired from paid work,Yes
2193,70023,Yorkshire & Humber,York Outer,E14001062,22/09/2017,1,1,1,Voted,86.0,...,No,"GBP 45,000 - GBP 49,999",Own home outright,No religion,NaN,No,Male,English/Welsh/Scottish/Northern Irish/British,Retired from paid work,Yes

To get the names of the indices or columns, you can use the `.index` or `.columns` methods of a `DataFrame`.

In [14]:
bes_df.columns

Index(['finalserialno', 'region', 'Constit_Code', 'Constit_Name',
       'Interview_Date', 'total_num_dwel', 'total_num_hous', 'num_elig_people',
       'turnoutValidationReg', 'Age', 'a01', 'a02', 'a03', 'e01', 'k01', 'k02',
       'k03', 'k11', 'k13', 'k06', 'k08', 'y01', 'y03', 'y06', 'y07', 'y08',
       'y09', 'y11', 'y17', 'y18'],
      dtype='object')

In [15]:
bes_df.index

RangeIndex(start=0, stop=2194, step=1)

# Indexing Data in `Series` and `DataFrame`

Indexing refers to selecting one or more elements within a data structure. This is the most basic and useful functionality of a data container.

## Indexing `pd.Series`

We can _view_ elements of a pandas series in a similar method to either a dict or a list using the `[]`.

Note that if we pass an integer, it will index like a list, whereas if we pass a key (i.e. a string), it will index like a dict.

In [16]:
print(ser[0])
print(ser['a'])

1
1

## Indexing `pd.DataFrame`

The DataFrame understands the `[]` accessor as if it were a dictionary.

Passing a scalar value to the `[]` accessor returns a _view_ of a `Series`; passing a list returns a _view_ of a `DataFrame`

In [17]:
bes_df['region'] # Single input: name of column

0            East Midlands
1            East Midlands
2            East Midlands
3            East Midlands
4            East Midlands
               ...
2189    Yorkshire & Humber
2190    Yorkshire & Humber
2191    Yorkshire & Humber
2192    Yorkshire & Humber
2193    Yorkshire & Humber
Name: region, Length: 2194, dtype: object

In [18]:
bes_df[['a01', 'region']] # Multiple input: list of column names

                                                    a01              region
0                                                   nhs       East Midlands
1                                                brexit       East Midlands
2                                               society       East Midlands
3                                           immigration       East Midlands
4                                                brexit       East Midlands
...                                                 ...                 ...
2189  TERRORISM - YOU SEE THE NEWS AND IT'S FRIGHTEN...  Yorkshire & Humber
2190                                             brexit  Yorkshire & Humber
2191  BREXIT - HOW IT WILL REDUCE THE NUMBERS OF PEO...  Yorkshire & Humber
2192                                             brexit  Yorkshire & Humber
2193  BREXIT - THE WRONG TIME TO DO IT WITH PROBLEMS...  Yorkshire & Humber

[2194 rows x 2 columns]

## General Indexing: `loc`, `iloc`

You can always use the  `loc` and `iloc` methods for indexing.

### `pd.DataFrame.loc[]`

The `pd.DataFrame.loc[ , ]` function takes two arguments inside the `[ , ]`: _row(s)_ and _column(s)_

When using `loc`, you must use the column and index _names_.

In [19]:
df

             col1      col2    col3
a               1  1.000000     tea
b               4  0.250000  coffee
c               7  0.142857  toffee
pterodactyl    10  0.100000     key

In [20]:
df.loc['a', 'col3']

'tea'

In [21]:
df.loc[['a', 'pterodactyl'], ['col1', 'col2']]

             col1  col2
a               1   1.0
pterodactyl    10   0.1

### `pd.DataFrame.iloc[]`

`pd.DataFrame.iloc[ , ]` is similar to `loc`, but uses _locational_ instead of _named_ indexing.

This means you should pass the location of elements by their implicit numeric index.

In [22]:
df.iloc[0, 2]

'tea'

In [23]:
df.iloc[[0, -1], [0, 1]] # Remember -1 is the location of the last element of an array

             col1  col2
a               1   1.0
pterodactyl    10   0.1

# Filtering Data on Rows

Filtering is similar to indexing, but uses logical conditions to choose a subset of elements.

There are a multitude of methods for doing this; I go over the one I use most frequently.

Say I want to filter BES data for respondents in Scotland.

By using a logical condition, `==` with a Series, I get a Series of Booleans indicating whether the condition is True/False for each element.

In [24]:
bes_df['region']=='Scotland'

0       False
1       False
2       False
3       False
4       False
        ...
2189    False
2190    False
2191    False
2192    False
2193    False
Name: region, Length: 2194, dtype: bool

In [25]:
# Remember, we can use the sum function with Booleans to get the number of Trues.
sum(bes_df['region']=='Scotland')

191

We can pass this to the the indexer to get a subset of the `DataFrame` or `Series`!

In [26]:
bes_df.loc[bes_df['region']=='Scotland', :] # ":" indicates "all values"

,finalserialno,region,Constit_Code,Constit_Name,Interview_Date,total_num_dwel,total_num_hous,num_elig_people,turnoutValidationReg,Age,...,k08,y01,y03,y06,y07,y08,y09,y11,y17,y18
1011,37318,Scotland,Angus,S14000004,13/07/2017,1,1,1,NaN,63.0,...,Yes,"GBP 10,400 - GBP 15,599",Rented from local authority,Presbyterian/Church of Scotland,Less often,No,Female,English/Welsh/Scottish/Northern Irish/British,Working full time - employee (30+ hours),NaN
1012,37320,Scotland,Angus,S14000004,09/08/2017,1,1,1,NaN,80.0,...,No,"GBP 75,000 - GBP 99,999",Own home outright,Presbyterian/Church of Scotland,Less often but at least once a month,No,Female,English/Welsh/Scottish/Northern Irish/British,Retired from paid work,No
1013,37321,Scotland,Angus,S14000004,18/07/2017,1,1,2,NaN,62.0,...,No,"GBP 26,000 - GBP 31,199",It belongs to a Housing Association,Christian - no denomination,Less often,No,Female,English/Welsh/Scottish/Northern Irish/British,Retired from paid work,No
1014,37322,Scotland,Angus,S14000004,13/07/2017,1,1,1,Not voted-registered,60.0,...,No,"GBP 5,200 - GBP 10,399",Own home outright,No religion,NaN,No,Male,English/Welsh/Scottish/Northern Irish/British,Not working because long-term sick or disabled,No
1015,37324,Scotland,Angus,S14000004,13/07/2017,1,1,1,Voted,52.0,...,Yes,"GBP 26,000 - GBP 31,199",Own home outright,Church of England/ Anglican/Episcopal,Less often,No,Female,English/Welsh/Scottish/Northern Irish/British,Working part time - employee (8-29 hours),NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1197,42417,Scotland,West Dunba,S14000059,14/08/2017,1,1,1,Voted,59.0,...,No,"GBP 20,800 - GBP 25,999",Own home outright,Roman Catholic,Less often but at least once a year,Yes: trade union,Male,English/Welsh/Scottish/Northern Irish/British,Working full time - employee (30+ hours),NaN
1198,42418,Scotland,West Dunba,S14000059,23/08/2017,1,1,2,NaN,70.0,...,No,Refused,Own home outright,Christian - no denomination,Less often,No,Female,English/Welsh/Scottish/Northern Irish/British,Retired from paid work,Yes
1199,42419,Scotland,West Dunba,S14000059,15/08/2017,1,1,2,Voted,89.0,...,No,"GBP 15,600 - GBP 20,799",Own home outright,No religion,NaN,No,Male,English/Welsh/Scottish/Northern Irish/British,Working full time - self-employed (30+ hours),NaN
1200,42424,Scotland,West Dunba,S14000059,20/08/2017,1,1,1,Not voted-registered,46.0,...,Yes,Refused,Rented from local authority,No religion,NaN,No,Male,English/Welsh/Scottish/Northern Irish/British,Working full time - employee (30+ hours),NaN
1201,42425,Scotland,West Dunba,S14000059,15/08/2017,1,1,2,Not voted-unregistered,44.0,...,Yes,"GBP 40,000 - GBP 44,999",Own home on mortgage,No religion,NaN,No,Female,English/Welsh/Scottish/Northern Irish/British,Working full time - employee (30+ hours),NaN

Filtering on multiple values is similar. Use multiple conditions joined by a binary logical operator (and: `&`, or: `|`)

Remember to use parentheses to ensure that the items are evaluated in the correct order.

In [27]:
cond = (bes_df['region']=='Scotland') & (bes_df['Constit_Code']=='Angus')

In [28]:
bes_df[cond] # We can use this here; see further on in the lecture for when this is acceptable.

,finalserialno,region,Constit_Code,Constit_Name,Interview_Date,total_num_dwel,total_num_hous,num_elig_people,turnoutValidationReg,Age,...,k08,y01,y03,y06,y07,y08,y09,y11,y17,y18
1011,37318,Scotland,Angus,S14000004,13/07/2017,1,1,1,NaN,63.0,...,Yes,"GBP 10,400 - GBP 15,599",Rented from local authority,Presbyterian/Church of Scotland,Less often,No,Female,English/Welsh/Scottish/Northern Irish/British,Working full time - employee (30+ hours),NaN
1012,37320,Scotland,Angus,S14000004,09/08/2017,1,1,1,NaN,80.0,...,No,"GBP 75,000 - GBP 99,999",Own home outright,Presbyterian/Church of Scotland,Less often but at least once a month,No,Female,English/Welsh/Scottish/Northern Irish/British,Retired from paid work,No
1013,37321,Scotland,Angus,S14000004,18/07/2017,1,1,2,NaN,62.0,...,No,"GBP 26,000 - GBP 31,199",It belongs to a Housing Association,Christian - no denomination,Less often,No,Female,English/Welsh/Scottish/Northern Irish/British,Retired from paid work,No
1014,37322,Scotland,Angus,S14000004,13/07/2017,1,1,1,Not voted-registered,60.0,...,No,"GBP 5,200 - GBP 10,399",Own home outright,No religion,NaN,No,Male,English/Welsh/Scottish/Northern Irish/British,Not working because long-term sick or disabled,No
1015,37324,Scotland,Angus,S14000004,13/07/2017,1,1,1,Voted,52.0,...,Yes,"GBP 26,000 - GBP 31,199",Own home outright,Church of England/ Anglican/Episcopal,Less often,No,Female,English/Welsh/Scottish/Northern Irish/British,Working part time - employee (8-29 hours),NaN
1016,37415,Scotland,Angus,S14000004,14/07/2017,1,1,2,Voted,65.0,...,Yes,"GBP 100,000 or more",Own home outright,Presbyterian/Church of Scotland,Once a week or more,Yes: trade union,Male,English/Welsh/Scottish/Northern Irish/British,Working part time - employee (8-29 hours),NaN
1017,37417,Scotland,Angus,S14000004,25/07/2017,1,1,2,NaN,37.0,...,No,"GBP 40,000 - GBP 44,999",Own home on mortgage,No religion,NaN,No,Female,English/Welsh/Scottish/Northern Irish/British,Working full time - employee (30+ hours),NaN
1018,37418,Scotland,Angus,S14000004,14/07/2017,1,1,1,NaN,59.0,...,No,Don`t know,Own home outright,Church of England/ Anglican/Episcopal,Less often but at least twice a year,No,Female,English/Welsh/Scottish/Northern Irish/British,Retired from paid work,No
1019,37421,Scotland,Angus,S14000004,14/07/2017,1,1,1,NaN,63.0,...,No,"GBP 26,000 - GBP 31,199",Rented from local authority,Presbyterian/Church of Scotland,Less often but at least once a month,No,Female,English/Welsh/Scottish/Northern Irish/British,Not working because long-term sick or disabled,No
1020,37423,Scotland,Angus,S14000004,14/07/2017,1,1,1,NaN,66.0,...,No,"GBP 50,000 - GBP 59,999",Rented from local authority,Presbyterian/Church of Scotland,Less often but at least twice a year,No,Female,English/Welsh/Scottish/Northern Irish/British,Retired from paid work,No
1021,37424,Scotland,Angus,S14000004,14/07/2017,1,1,2,NaN,37.0,...,No,"Under GBP 2,600",Own home on mortgage,Christian - no denomination,Less often but at least once a year,No,Male,Polish,Working full time - employee (30+ hours),NaN
1022,37426,Scotland,Angus,S14000004,15/07/2017,1,1,1,Voted,59.0,...,No,"GBP 2,600 - GBP 5,199",Rented from local authority,Christian - no denomination,Less often,No,Male,English/Welsh/Scottish/Northern Irish/British,Unemployed and actively seeking work,No

# Renaming and replacing

- Renaming: renaming columns or indices
- Replacing: replacing values

## Renaming columns or indices

We can rename columns and indices using the `pd.DataFrame.rename()` function and a dictionary.

Note that you should specify the _axis_. `axis=0` is rows, `axis=1` is columns.

In [29]:
df.rename({'pterodactyl':'d'}, axis=0)

   col1      col2    col3
a     1  1.000000     tea
b     4  0.250000  coffee
c     7  0.142857  toffee
d    10  0.100000     key

Note that `df` will not be altered unless you assign the output of the function to a variable. To overwrite in place, assign the output of the function to itself.

In [30]:
df = df.rename({'pterodactyl':'d'}, axis=0)
df

   col1      col2    col3
a     1  1.000000     tea
b     4  0.250000  coffee
c     7  0.142857  toffee
d    10  0.100000     key

Renaming columns is similar.

In [31]:
df = df.rename({'col1': 'num1', 'col2': 'num2', 'col3': 'str1'}, axis=1)
df

   num1      num2    str1
a     1  1.000000     tea
b     4  0.250000  coffee
c     7  0.142857  toffee
d    10  0.100000     key

### Note on use of capital letters and underscores

Keep in mind that you will be writing the column names a lot. Do your best to keep column names short, meaningful, and stick to a consistent pattern of uppercase and underscores.

I use `snake_case` for column names, which means all lowercase with underscores between words. An alternative is `CamelCase`, which uses no underscores but capitalises the first letter of each word.

Standard python practice is to use `snake_case` for variables, functions, and modules, but `CamelCase` for classes. Hence, `pandas.DataFrame`, but `pandas.Dataframe.value_counts()`.

## Reindexing

Re-indexing can be done with the `.set_index()` or `.reset_index()` methods.

When resetting, if you do not pass `drop=True`, then the existing index will be added to the dataframe as a column.

In [32]:
df.set_index('str1')

        num1      num2
str1
tea        1  1.000000
coffee     4  0.250000
toffee     7  0.142857
key       10  0.100000

In [33]:
df.reset_index()

  index  num1      num2    str1
0     a     1  1.000000     tea
1     b     4  0.250000  coffee
2     c     7  0.142857  toffee
3     d    10  0.100000     key

In [34]:
df.reset_index(drop=True)

   num1      num2    str1
0     1  1.000000     tea
1     4  0.250000  coffee
2     7  0.142857  toffee
3    10  0.100000     key

## Replacing values

We can use the `pd.Series.replace` or `pd.DataFrame.replace` function to replace values within the series or dataframe. This is also straightforward with a dictionary.

In [36]:
bes_df['a02'].replace({'Don`t know': 'idk'})

0              Labour
1       None/No party
2                 idk
3                 idk
4              Labour
            ...
2189              idk
2190    None/No party
2191              idk
2192    None/No party
2193    Conservatives
Name: a02, Length: 2194, dtype: object

## Warning: `loc` vs `[]`

Here's a tedious and tricky thing:

- `df[col_name]` returns a _view_ of the dataframe.
- `df.loc[:, col_name]` returns the _contents_ of the dataframe.

Assigning values to a view (with `=`) is ambiguous. Python does not know whether to alter the object, or the view of that object that was created in that moment.

Therefore whenever writing values into some subset of a pandas object, use the `loc` or `iloc` accessors, so that python understands that you want to modify the underlying object.

In [ ]:
# Do not do this
df['num1'] = [0, 0, 0, 0]

In [37]:
# Do this
df.loc[:, 'num1'] = [0, 0, 7, 10]
df

   num1      num2    str1
a     0  1.000000     tea
b     0  0.250000  coffee
c     7  0.142857  toffee
d    10  0.100000     key

# First-Look Functions

When working with data, your first step should always be _getting to know the data_. Ask questions like:

- What does the top/bottom of the dataset look like? `df.head()`, `df.tail()`
- What are the dimensions of the dataset? `df.shape`
- What are my columns and rows? `df.columns`, `df.index`
- What data types are each of the columns? Is this expected? `df.info()`, `df.dtypes`
- How sparse is my data? (Looking for NAs) `df.info()`, `df.isna().sum()`
- What unique values does each column contain? `series.unique()`, `series.value_counts()`

## Head/Tail

The `df.head()` and `df.tail()` functions return the first/last 5 rows of the dataframe by default. The number of rows can be passed to the function.

In [38]:
bes_df.head() # Using iloc to make output easier to read in lecture slide; not necessary

,finalserialno,region,Constit_Code,Constit_Name,Interview_Date,total_num_dwel,total_num_hous,num_elig_people,turnoutValidationReg,Age,...,k08,y01,y03,y06,y07,y08,y09,y11,y17,y18
0,10115,East Midlands,Ashfield,E14000535,06/09/2017,1,1,2,Voted,21.0,...,No,"GBP 5,200 - GBP 10,399",Own home on mortgage,No religion,NaN,No,Female,English/Welsh/Scottish/Northern Irish/British,Working full time - employee (30+ hours),NaN
1,10119,East Midlands,Ashfield,E14000535,06/09/2017,1,1,1,Voted,53.0,...,No,"GBP 2,600 - GBP 5,199",Rented from local authority,Islam/Muslim,Never or practically never,No,Male,Indian,Looking after the family or home,Yes
2,10125,East Midlands,Ashfield,E14000535,06/09/2017,1,1,1,NaN,56.0,...,No,"GBP 5,200 - GBP 10,399",Own home outright,No religion,NaN,No,Male,English/Welsh/Scottish/Northern Irish/British,Working full time - self-employed (30+ hours),NaN
3,10215,East Midlands,Ashfield,E14000535,24/08/2017,1,1,2,Voted,65.0,...,No,"GBP 36,400 - GBP 39,999",Own home outright,Christian - no denomination,Never or practically never,No,Female,English/Welsh/Scottish/Northern Irish/British,Retired from paid work,Yes
4,10216,East Midlands,Ashfield,E14000535,24/08/2017,1,1,2,Voted,68.0,...,Yes,"GBP 40,000 - GBP 44,999",Own home outright,Christian - no denomination,Never or practically never,No,Female,English/Welsh/Scottish/Northern Irish/British,Retired from paid work,Yes

In [39]:
bes_df.tail(10)

,finalserialno,region,Constit_Code,Constit_Name,Interview_Date,total_num_dwel,total_num_hous,num_elig_people,turnoutValidationReg,Age,...,k08,y01,y03,y06,y07,y08,y09,y11,y17,y18
2184,69904,Yorkshire & Humber,York Outer,E14001062,25/07/2017,1,1,2,Voted,55.0,...,Yes,"GBP 36,400 - GBP 39,999",Own home on mortgage,Church of England/ Anglican/Episcopal,Less often,No,Male,English/Welsh/Scottish/Northern Irish/British,Working part time - employee (8-29 hours),NaN
2185,69916,Yorkshire & Humber,York Outer,E14001062,08/08/2017,1,1,1,NaN,49.0,...,Yes,"GBP 20,800 - GBP 25,999",Own home on mortgage,No religion,NaN,No,Female,English/Welsh/Scottish/Northern Irish/British,Working full time - self-employed (30+ hours),NaN
2186,69918,Yorkshire & Humber,York Outer,E14001062,16/09/2017,1,1,1,Voted,75.0,...,No,"GBP 15,600 - GBP 20,799",Own home outright,Church of England/ Anglican/Episcopal,Once a week or more,No,Female,English/Welsh/Scottish/Northern Irish/British,Retired from paid work,Yes
2187,69920,Yorkshire & Humber,York Outer,E14001062,31/07/2017,1,1,2,Voted,53.0,...,Yes,"GBP 100,000 or more",Own home outright,No religion,NaN,Yes: staff association,Female,English/Welsh/Scottish/Northern Irish/British,Not working because temporarily sick or injured,Yes
2188,69921,Yorkshire & Humber,York Outer,E14001062,19/09/2017,1,1,1,Voted,53.0,...,No,"GBP 45,000 - GBP 49,999",Own home outright,No religion,NaN,No,Male,English/Welsh/Scottish/Northern Irish/British,Working full time - self-employed (30+ hours),NaN
2189,69923,Yorkshire & Humber,York Outer,E14001062,20/09/2017,1,1,2,NaN,59.0,...,No,"GBP 60,000 - GBP 74,999",Own home outright,No religion,NaN,No,Female,English/Welsh/Scottish/Northern Irish/British,Retired from paid work,Yes
2190,69925,Yorkshire & Humber,York Outer,E14001062,31/07/2017,1,1,1,NaN,46.0,...,Yes,"GBP 75,000 - GBP 99,999",Own home outright,No religion,NaN,No,Female,English/Welsh/Scottish/Northern Irish/British,Looking after the family or home,Yes
2191,70016,Yorkshire & Humber,York Outer,E14001062,19/09/2017,1,1,1,Voted,50.0,...,Yes,"GBP 5,200 - GBP 10,399",It belongs to a Housing Association,No religion,NaN,No,Female,English/Welsh/Scottish/Northern Irish/British,Working part time - employee (8-29 hours),NaN
2192,70022,Yorkshire & Humber,York Outer,E14001062,02/08/2017,1,1,1,NaN,82.0,...,Yes,"GBP 15,600 - GBP 20,799",Own home outright,No religion,NaN,No,Female,English/Welsh/Scottish/Northern Irish/British,Retired from paid work,Yes
2193,70023,Yorkshire & Humber,York Outer,E14001062,22/09/2017,1,1,1,Voted,86.0,...,No,"GBP 45,000 - GBP 49,999",Own home outright,No religion,NaN,No,Male,English/Welsh/Scottish/Northern Irish/British,Retired from paid work,Yes

## Dimensions

It's good to know how many entries are in your dataset.

`df.shape` (not a function!) returns a tuple; the first value is the number of rows (observations), the second is the number of columns (variables).

In [40]:
bes_df.shape

(2194, 30)

## Columns and Rows

The `df.columns` and `df.index` methods return the columns and rows respectively.

Both of these are `pd.Index` objects; to change them into base python lists you can use the `.tolist()` method.

In [42]:
print(bes_df.columns.tolist())
print(bes_df.index)

['finalserialno', 'region', 'Constit_Code', 'Constit_Name', 'Interview_Date', 'total_num_dwel', 'total_num_hous', 'num_elig_people', 'turnoutValidationReg', 'Age', 'a01', 'a02', 'a03', 'e01', 'k01', 'k02', 'k03', 'k11', 'k13', 'k06', 'k08', 'y01', 'y03', 'y06', 'y07', 'y08', 'y09', 'y11', 'y17', 'y18']
RangeIndex(start=0, stop=2194, step=1)

## Data types and NAs

Pandas series can only contain one data type; therefore each column in your data will have a single type.

Pandas does not use base python data types. For an overview of the pandas data types, see [this blog post](https://pbpython.com/pandas_dtypes.html).

We can view these with either `df.dtypes` or `df.info()`.

The latter also contains information about the number of non-null (i.e. not NA) values in each column.

In [43]:
bes_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2194 entries, 0 to 2193
Data columns (total 30 columns):
finalserialno           2194 non-null int32
region                  2194 non-null object
Constit_Code            2194 non-null object
Constit_Name            2194 non-null object
Interview_Date          2194 non-null object
total_num_dwel          2194 non-null object
total_num_hous          2194 non-null object
num_elig_people         2194 non-null object
turnoutValidationReg    1507 non-null category
Age                     2175 non-null float64
a01                     2194 non-null object
a02                     2132 non-null category
a03                     2194 non-null category
e01                     2194 non-null category
k01                     2194 non-null category
k02                     2194 non-null category
k03                     1103 non-null category
k11                     2194 non-null category
k13                     2194 non-null category
k06                     2194 non-null category
k08                     2194 non-null category
y01                     2194 non-null category
y03                     2194 non-null category
y06                     2194 non-null category
y07                     1165 non-null category
y08                     2194 non-null category
y09                     2194 non-null category
y11                     2194 non-null category
y17                     2194 non-null category
y18                     1039 non-null category
dtypes: category(20), float64(1), int32(1), object(8)
memory usage: 212.6+ KB

## Unique Values

It's also important to know the possible values that a column can contain.

We can see the unique values with the `df[col_name].unique()` function.

We can tabulate these values with the `df[col_name].value_counts()` function.

In [44]:
bes_df['a02'].unique()

[Labour, None/No party, Don`t know, Conservatives, Liberal Democrats, ..., NaN, Green Party, All of them/ more than one, Refused, Plaid Cymru]
Length: 13
Categories (12, object): [Refused < Don`t know < None/No party < Labour ... Green Party < United Kingdom Independence Party (UKIP) < Other < All of them/ more than one]

In [45]:
bes_df['region'].value_counts()

North West            304
South East            282
West Midlands         227
Eastern               226
London                212
Scotland              191
Yorkshire & Humber    187
South West            167
East Midlands         156
Wales                 129
North East            113
Name: region, dtype: int64

# Summary Functions

One of the greatest advantages of pandas objects are the range of built-in statistical summaries.

These include:

- `.sum()`
- `.mean()`
- `.var()`
- `.std()`
- `.mode()`

For a full reference, see: https://pandas.pydata.org/pandas-docs/version/0.25/getting_started/basics.html?highlight=variance#descriptive-statistics


Dataframe summaries usually require an axis to be specified (rows: default, `axis=0`, columns: `axis=1`).

In [46]:
df.sum()

num1                    17
num2               1.49286
str1    teacoffeetoffeekey
dtype: object

In [47]:
df[['num1', 'num2']].mean(axis=1)

a    0.500000
b    0.125000
c    3.571429
d    5.050000
dtype: float64

In [48]:
bes_df.iloc[:, 1:].mode(axis=0) # Excludes first column

,region,Constit_Code,Constit_Name,Interview_Date,total_num_dwel,total_num_hous,num_elig_people,turnoutValidationReg,Age,a01,...,k08,y01,y03,y06,y07,y08,y09,y11,y17,y18
0,North West,Birmingham,S14000028,14/07/2017,1,1,2,Voted,42.0,brexit,...,Yes,Refused,Own home outright,No religion,Never or practically never,No,Female,English/Welsh/Scottish/Northern Irish/British,Working full time - employee (30+ hours),Yes
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,62.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN